<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->

<head>
    {% include common/meta.html %}
    <link href='{{ site.baseurl }}/assets/stylesheets/home.css' rel="stylesheet" type="text/css">
    {% include common/libraries.html %}
</head>

<body>
    <div id="section0" class="section" data-name="bio">
        <div class="animated fadeInLeft">
            <a class="index_a" href="{{ site.paths.blog | relative_url }}">{% if site.home.section1 %}{{ site.home.section1 }}{% endif %}</a>
        </div>
    </div>
    {% include home/scripts.html %}
</body>

</html>
